@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-eggshell;
  @apply text-blackcoffee
}

/* navbar */

.navbar {
  @apply bg-eggshell;
  @apply text-blackcoffee;
}

.navbar .nav-item {
  @apply md:hover:scale-[102%];
}

/* footer */

footer {
  @apply bg-eggshell
}

.quote {
 position: relative;
 top: -4px;
}

.quote-end {
 position: relative;
 bottom: -4px;
}